<div class="container-fluid">

<form class="form-inline" action="/searchRecipe">
  <label for="recipeSearchField" style="font-size: 25px;">Search for recipe</label>
  <div class="form-group">
    <input type="search" class="form-control" id="recipeSearchField" placeholder="Type in ingredients">
  	<input type="submit" class="btn btn-primary">
  </div>
 </form>
</br >
</div>
