<h1>User index page</h1>

<input type="search" value="" placeholder="search" class="topcoat-search-input">

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>id</th>
			<th>provider</th>
			<th>uid</th>
		</tr>
	</thead>
	<tbody>
		<% @user.all.each do |user| %>
		<tr>
			<td> <%= user.name %> </td>
			<td> <%= user.id %> </td>
			<td> <%= user.provider %> </td>
			<td> <%= user.uid %> </td>
		</tr>
		<%end%>
	</tbody>
</table>
