<h1>Sign In	</h1>
  <%= link_to image_tag("http://3.bp.blogspot.com/-7jWNZvdcOCQ/ThwvGP8GBlI/AAAAAAAAAVY/UmnWYzNcujA/s1600/google-plus-logo.gif", :size => "70x70", :title => "Sign in with Google+"), "/auth/gplus"%>