<h2> <%= current_user.given_name %>'s favorites</h2>

<% if @favorites.blank?%>
	<h4> No favorites <i class="fa fa-frown-o"></i> <br/> Now go find some! </h4>
<%else%>
<table class="table table-hover">
	<thead>
		<tr>
			<th>
				Name
			</th>
		</tr>
	</thead>
	<tbody>
		<% @favorites.each do |fav| %>
		<tr onmouseover="this.style.cursor='pointer'"
                        onclick="DoNav('<%= recipe_path(fav.favorite.source_id)%>')">
			<td>
				<%= fav.favorite.name %>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>
<%end%>