// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inner-carousel-item {
    text-align: center;
    img {
    margin: 0 auto;}}
    
#recipe-carousel {
  width: 360px;
}

.search-label {
  font-size: 25px;
}

.checkboxes{ border: solid 2px; margin-bottom: 50px;}

.search-table-image {width: 90px;}

.search-box {
  margin: 5px 10px;
  text-align: center; 
}

#search_settings_group {
  margin-top: 5px;
}

.search-advanced-box {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin: 0em 1em 0em 1em;
}

.recipe-result-label {
  font-weight: bold; 
  text-align: center; 
  margin-bottom: 10px;
}

.recipe-list-item-image {
  float:left;
  margin-left: 0px;
}

.recipe-list-item-info {
   float: left;
   margin-left: 2px;
}

.recipe-list-item-parent {
  width: 207px;
  background-color: #666633;
  border: solid 3px #666600;
  margin-bottom: 5px;
  color: whitesmoke;
  font-weight: bold;
}

.flex-container-results {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  margin-bottom: 10px;
}

.recipe-box {
  margin: 10px;
}

.recipe-image {
 float:left;
 vertical-align: middle; 
 margin-right: 20px;
 margin-bottom: 20px;
}

.recipe-info {
  margin-left: 20px;
  vertical-align: top;
}

.recipe-info_header-row > form {
  display: inline-block;
}

#ingredients_list td {
  padding-right: 15px;
}

#ingredient_title {
  width: 251px;
}

.new-recipe-description {
  height: 258px
}

.recipe-edit_primary,
.recipe-edit_secondary,
.recipe-edit_submit {
  float: left;
  margin-right: 20px;
}
