// Place all the styles related to the search_recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-label {font-size: 25px;}

.checkboxes{ border: solid 2px; margin-bottom: 50px;}

.search-table-image {width: 90px;}

.recipe-max-minutes {
  
}

.recipe-image{
  float:left;
}

.recipe-info {
   float: left;
}

