<h3> 
	<% if @recipes.count != 1%> 
		<%= @recipes.count %> recipes
	<%else%>
	<%= @recipes.count %> recipe
	<%end%>
</h3>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<% @recipes.all.each do |rec| %>
		<tr>
			<td> <%= rec.recipeName %></td>
		</tr>
		<%end%>
	</tbody>
</table>