<h1>Ingredient</h1>

<table>
	<tr>
		<td>
			title:
		</td>
		<td>
			<%= @ingredient.title %>
		</td>
	</tr>
	<tr>
		<td>
			description:
		</td>
		<td>
			<%= @ingredient.description %>
		</td>
	</tr>
</table>

<%= link_to "Back", ingredient_index_path %>
